<h1>seja bem vindo ao FinanSESI</h1>
<h3>programação e finanças</h3>
<div class="botoes">
    <div class="juros_simples">
        <span>juros simples</span>
        <a href="/juros_simples">
            <img src="./img/juros_simples.png" alt="img juros_simples">
        </a>
    </div>
    <div class="juros_compostos">
        <span>juros compostos</span>
        <a href="/juros_compostos"> 
            <img src="./img/juros_composto.png" alt="img juro_composto">
        </a>
    </div>
</div>